<!DOCTYPE html>
{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/kotlowski-graphics-circle-128x128.png' %}" type="image/x-icon">
  <meta name="description" content="Home Page SEO content">
  <title>Home - Kotlowski Graphics</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/animatecss/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'assets/css-base/master.css' %}">

</head>
<body>
  <section class="menu cid-qVQxB1CdIx" once="menu" id="menu2-j">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a href="{% url 'index' %}">
              <img src="{% static 'assets/images/kotlowski-graphics-circle-122x122.png' %}" alt="KG Logo" title="Logo" style="height: 3.8rem;">
            </a>
          </span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
          <a class="nav-link link text-black display-4" href="{% url 'about' %}">
            About<br>
          </a>
        </li>
        <!-- <li class="nav-item">
        <a class="nav-link link text-black display-4" href="#">
        Gallery<br></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link link text-black display-4" href="{% url 'Blog:post_list' %}">
          Blog<br>
        </a>
      </li>
      <li class="nav-item"><a class="nav-link link text-black display-4" href="{% url 'skills' %}">
        Skills<br>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link link text-black display-4" href="{% url 'contact' %}">
        Contact
      </a>
    </li>
  </ul>
</div>
</nav>
</section>

<section class="engine"><a href="#"></a></section>
<section class="header10 cid-qVOR6wYxMw mbr-fullscreen" id="header10-0">
  <div class="container">
    <div class="media-container-column mbr-white col-lg-8 col-md-10 ml-auto">
      <h1 class="mbr-section-title align-right mbr-bold pb-3 mbr-fonts-style display-1"><span style="font-weight: normal;">
        Tyler Kotlowski</span></h1>
        <h3 class="mbr-section-subtitle align-right mbr-light pb-3 mbr-fonts-style display-2">Designer <span style="color: #232323">/</span> DEVELOPER</h3>
        <p class="mbr-text align-right pb-3 mbr-fonts-style display-5"><em>
          "Every great developer you know got there by solving problems they were unqualified to solve until they actually did it." - Patrick McKenzie</em></p>
          <div class="mbr-section-btn align-right"><a class="btn btn-md btn-secondary-outline display-4" href="{% url 'skills' %}">Skills</a>
            <a class="btn btn-md btn-white-outline display-4" href="{% url 'contact' %}">Contact</a></div>
          </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
          <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
          </a>
        </div>
      </section>

      <section class="features15 cid-qVOSHqXCI3" id="features15-3">
        <div class="container">
          <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Philosophy</h2>
            <div class="media-container-row container pt-5 mt-2">
              <div class="col-12 col-md-6 mb-4 col-lg-4">
                <div class="card flip-card p-5 align-center">
                  <div class="card-front card_cont">
                    <img src="{% static 'assets/images/mbr-1200x795.jpg' %}" alt="Skyview-Building-Design">
                  </div>
                  <div class="card_back card_cont">
                    <h4 class="card-title display-5 py-2 mbr-fonts-style"><p>Design&nbsp;&nbsp;&nbsp;&nbsp;</p></h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                      Innovation, Modernity, and Simple Designs capture my senses. I try to inspire that in all my work.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 mb-4 col-lg-4">
                  <div class="card flip-card p-5 align-center">
                    <div class="card-front card_cont">
                      <img src="{% static 'assets/images/mbr-1-864x1080.jpg' %}" alt="Journal-Watch-Passion" title="">
                    </div>
                    <div class="card_back card_cont">
                      <h4 class="card-title py-2 mbr-fonts-style display-5"><p>
                        Simplicity in Passion&nbsp; &nbsp;</p></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                          I develop a passion in all work that I do. If it passes my hands, it will have high quality assurance.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 col-lg-4">
                      <div class="card flip-card p-5 align-center">
                        <div class="card-front card_cont">
                          <img src="{% static 'assets/images/mbr-1200x675.jpg' %}" alt="Blockchain-Technology-Stack" title="">
                        </div>
                        <div class="card_back card_cont">
                          <h4 class="card-title py-2 mbr-fonts-style display-5">
                            Full Stack</h4>
                            <p class="mbr-text mbr-fonts-style display-7">
                              HTML CSS JavaScript Bootstrap<br>Python Django R<br>Blockchain<br>Unix<br>always More to add...</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div></section>

                    <section class="testimonials2 cid-qVOSYKTKNI" id="testimonials2-5">
                      <div class="container">
                        <div class="media-container-row">
                          <div class="mbr-figure pr-lg-5" style="width: 130%;">
                            <img src="{% static 'assets/images/mbr-1162x753.jpg' %}" alt="" title="">
                          </div>
                          <div class="media-content px-3 align-self-center mbr-white py-2">
                            <p class="mbr-text testimonial-text mbr-fonts-style display-7">'If someone has solved it before, and It sounds interesting, well $h*!, I'm pretty sure I can do it too!'</p>
                            <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">
                              Tyler K<span style="color: #01C6B1">.</span>
                            </p>
                            <p class="mbr-author-desc mbr-fonts-style display-7">Designer <span style="color: #01C6B1">DEVELOPER</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </section>

                    <section class="cid-qVOSTvf1AD" id="social-buttons1-4">
                      <div class="container">
                        <div class="media-container-row">
                          <div class="col-md-8 align-center">
                            <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">
                              Me</h2>
                              <div>
                                <div class="mbr-social-likes" data-counters="false">
                                  <span class="btn btn-social twitter mx-2" title="Share link on Twitter">
                                    <i class="socicon socicon-twitter"></i>
                                  </span>
                                  <span class="btn btn-social plusone mx-2" title="Share link on Google+">
                                    <i class="socicon socicon-googleplus"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                      <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
                      <script src="{% static 'assets/popper/popper.min.js' %}"></script>
                      <script src="{% static 'assets/tether/tether.min.js' %}"></script>
                      <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
                      <script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
                      <script src="{% static 'assets/dropdown/js/script.min.js' %}"></script>
                      <script src="{% static 'assets/viewportchecker/jquery.viewportchecker.js' %}"></script>
                      <script src="{% static 'assets/mbr-flip-card/mbr-flip-card.js' %}"></script>
                      <script src="{% static 'assets/sociallikes/social-likes.js' %}"></script>
                      <script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
                      <script src="{% static 'assets/theme/js/script.js' %}"></script>


                      <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
                      <input name="animation" type="hidden">
                    </body>
                    </html>
